@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {

    --white-color: #ffffff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --background-color: #f5f5f5;
    --medium-gray-color: #ccc;

    --font-size-small: 0.9rem;
    --font-size-normal: 1rem;
    --font-size-medium: 1.12rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 2rem;
    --font-size-xxl:2.3rem;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --border-radius-small: 8px;
    --border-radius-medium: 30px;
    --border-radius-circular: 50%;

    --site-max-width: 1300px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar .nav-menu{
    display: flex;
    gap: 10px;
}
.section-content{
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}
.logo-text{
    color: #f3961c;
}
header{
    background-color: var(--primary-color);
    padding: 20px 0;
}

.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}
.navbar .nav-menu .nav-link{
    color: var(--white-color);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    padding: 8px 15px;
    border-radius: var(--border-radius-medium);
    transition: all 0.3s ease;
}
.navbar .nav-menu .nav-link:hover{
    background-color: var(--secondary-color);
    color: var(--dark-color);
}